.vscode/

sbatch/
notebooks/
new_nbs/
figs/
*.out
*.sbatch
*_old.py

salami_old.py

__pycache__
.ipynb*

*.pdf
hmx_test_l-recall_score_gaps.json
hmx_test_pfc_score_gaps.json
hmx_train_l-recall_score_gaps.json
hmx_val_pfc_score_gaps.json
jsd_test_l_score_gaps.json
jsd_test_l-recall_score_gaps.json
jsd_train_l_score_gaps.json
jsd_train_l-recall_score_gaps.json
jsd_train_pfc_score_gaps.json
jsd_val_l_score_gaps.json
rwcp_None_l_score_gaps.json
rwcp_test_l_score_gaps.json
rwcp_train_l_score_gaps.json
rwcp_train_l-recall_score_gaps.json
rwcp_train_pfc_score_gaps.json
rwcp_val_l_score_gaps.json
rwcpop_test_l-recall_score_gaps.json
rwcpop_train_l-recall_score_gaps.json
slm_test_l_score_gaps.json
slm_test_l-recall_score_gaps.json
slm_train_l_score_gaps.json
slm_train_l-recall_score_gaps.json
slm_train_pfc_score_gaps.json
slm_val_l_score_gaps.json
slm_val_pfc_score_gaps.json
ssdm/track_notes.json
